@import url("normalize.css");
@import url("variables.css");

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-top: var(--height-3);
  padding-left: var(--width-2);
  padding-right: var(--width-2);
}
a {
  color: black;
}
img {
  max-width: 100%;
}
p {
  line-height: 1.5;
}

hgroup {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
hgroup * {
  line-height: var(--line-hight-solid);
}
hgroup h1 {
  padding-right: var(--width-2);
}

main h2 {
  font-weight: 300;
}