@import "variables.scss";
@import "_normalize.scss";

@import"index.scss";
@import"single.scss";

a {
  color: black;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  padding-left: $width-2;
  padding-right: $width-2;
  font-weight: 300;
}

img {
  max-width: 100%;
}

h1 {
  font-size: $font-size-2;
  font-weight: 300;
}

p {
  line-height: 1.5;
}

nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  h1 {
    text-align: center;
    font-size: $font-size-1;
    font-weight: 300;
    letter-spacing: $letter-spacing-2;
    margin-bottom: $height-1;
    a {
      text-decoration: none;
    }
  }
  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    li {
      font-weight: 300;
      font-size: $font-size-3;
      padding-left: $width-2;
    }
  }
}
