@import "variables.scss";

.single {
  nav {
    display: flex;
    justify-content: center;
  }
  header {
    h1 {
      font-size: $font-size-1;
      letter-spacing: $letter-spacing-2;
      font-weight: 200;
      text-align: center;
    }
  }
}

.single-article {
  display: grid;
  grid-template-columns: 1fr $measure-wide 1fr;
  padding-top: $height-2;
  p {
    grid-column: 2;
  }
  h1 {
    grid-column: 2;
  }
  img {
    grid-column: 1\3;
  }
}